@charset "UTF-8";
//盒子阴影
.shadow-2dp {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.shadow-4dp {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.shadow-6dp {
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}

//左右浮动
.left {
    float: left;
}

.right {
    float: right;
}

//隐藏
.dispaly {
    display: none;
}

//table 行内文字溢出用。。。代替
table {
    table-layout: fixed;
    /* 只有定义了表格的布局算法为fixed，下面td的定义才能起作用。 */
}

td {
    width: 100%;
    word-break: keep-all;
    /* 不换行 */
    white-space: nowrap;
    /* 不换行 */
    overflow: hidden;
    /* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow: ellipsis;
    /* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
}

//地图 卫星 type
.maptype {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    ul li {
        list-style: none;
        float: left;
        font-size: 16px;
        color: rgba(0, 0, 0, .65);
        display: inline-block;
        width: 100px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
        span {
            display: inline-block;
            width: 100%;
            height: 100%;
            font-weight: 500;
            color: rgba(0, 0, 0, .85);
        }
        &.active span {
            color: $c3;
        }
    }
}

//
.keep-open {
    color: #000;
}

//bootstrap-daterangepicker
//时间区间插件
.daterangepicker {
    color: #000;
    table {
        table-layout: auto;
    }
}

//可点击标题颜色
.click-title-color {
    color: #3bafda;
}

//上传图片删除按钮
.uu-remove {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    text-align: center;
}

//清空筛选选项
.empty-screen-btn {
    font-size: 14px;
    padding: 4px 20px;
    color: #06B3F6;
}

//阅读统计 2017-12-15
.reading-statistics-box {
    margin: 20px 0;
    padding: 20px;
    background: #fff;
    border: 1px solid #DEDEDE;
    h4 {
        height: 40px;
        line-height: 40px;
    }
    //
    .no-data-box{
        display: none;
        width: 100%;
        height: 400px;
        .no-data{
            width: 100%;
            height: 400px;
            display: flex;
            .no-data-img{
                margin: auto;
                width: 120px;
                height: 97px;
                img{
                    width: 100%;
                }
            }
        }
        
    }
    //柱状图
    .bar-graph-box {
        width: 100%;
        height: 450px;
        #bar-graph {
            width: 100%;
            height: 400px;
        }
    }
    //详情
    .reading-detail-box {
        display: none;
        width: 100%;
        //区域选择
        .selection-area {
            height: 50px;
            width: 100%;
            padding: 0 20px;
        }
        //饼状图
        .pie-chart-box {
            width: 100%;
            height: 300px;
            display: flex;
            #pie-chart {
                width: 800px;
                height: 300px;
                margin: auto;
            }
        }
        .switch-button {
            display: inline-block;
            width: 100px;
            height: 34px;
            line-height: 34px;
            background: #DEDEDE;
            border-radius: 2px;
            font-size: 16px;
            color: #4A4A4A;
            text-align: center;
            a,
            a:hover {
                width: 100%;
                height: 100%;
                display: block;
                list-style: none;
                text-decoration: none;
                color: #4A4A4A;
            }
            &.active {
                background: #FAB420;
                a {
                    color: #fff;
                }
            }
        }
    }
}