@charset "UTF-8";

////
//文字颜色
////
$cf:#fff;
$c0:#000;
//常用紫色
$c3:#9974D2;
//常用橙色
$c4:#FB9576;
//表格中可点击的文字颜色
$c5:#00F0F9;


////
//背景颜色
////
$bcf:#fff;
$bc0:#000;
//header 背景颜色
$bc1:rgb(70, 77, 91);
//header active颜色
$bc2:#2D323E;
//常用紫色
$bc3:#9974D2;
//常用橙色
$bc4:#FB9576;
//数据模式背景
$bc5:rgb(54,59,71);
//语音背景颜色，蓝色
$bc6:rgb(40,194,255);