@charset "UTF-8";
.command {
    .box {
        /* 设置阴影 */
        -webkit-box-shadow: 1px 1px 3px #292929;
        -moz-box-shadow: 1px 1px 3px #292929;
        box-shadow: 1px 1px 3px #292929;
    }
    .btn:link,
    .btn:hover,
    .btn:active,
    .btn:visited,
    .btn:focus {
        color: #ffffff;
    }
    .btn_selected {
        background-color: #9974D2;
        color: #fff
    }
    .btn_normal {
        background-color: #2D323E;
        color: #fff
    }
    .btn_selected_orange {
        background-color: #FF906C;
        color: #fff
    }
    .BMapLabel {
        position: relative;
        overflow: hidden;
    }
    .BMapLabel:after {
        content: " ";
        position: absolute;
        left: calc(50% - 3px);
        bottom: -5px;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-width: 5px;
        border-color: #fff;
        border-bottom-width: 0;
        border-style: dashed;
        border-top-style: solid;
        border-left-color: transparent;
        border-right-color: transparent;
        display: block;
        z-index: 999;
    }
    .label-title {
        margin: 0 !important;
    }
    /*指挥提示下次不提醒input*/
    .input-con {
        position: relative;
        display: block;
        padding-left: 20px;
        line-height: 28px;
    }
    .input-checkbox {
        position: absolute;
        visibility: hidden;
    }
    .input-checkbox+label {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        border-radius: 3px;
        position: absolute;
        top: 4px;
        background: #fff;
    }
    .input-checkbox:checked+label:after {
        content: "";
        position: absolute;
        left: 5px;
        bottom: 7px;
        width: 10px;
        height: 6px;
        border: 1px solid #000;
        border-top-color: transparent;
        border-right-color: transparent;
        -ms-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -webkit-transform: rotate(-60deg);
        transform: rotate(-45deg);
    }
    .map-container .label-title {
        color: #000;
        font-family: "微软雅黑";
    }
}

//联防队员 警务站 摄像监控类别选择位置
.command-show-options {
    position: absolute;
    top: 90px;
    left: 80px;
}

//定向发布按钮
.release-button {
    position: absolute;
    top: 90px;
    right: 250px;
    box-shadow: 0 0 10px #ccc;
    >span {
        background: #fff;
        font-size: 16px;
        color: rgba(0, 0, 0, .65);
        display: block;
        width: 100px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        padding: 0 5px;
        font-weight: 500;
        cursor: pointer;
    }
}

//地图切换按钮
.command-maptype {
    position: absolute;
    top: 90px;
    right: 10px;
}