.header {
    display: flex;
    width: 100%;
    height: 76px;
    line-height: 76px;
    color: #fff;
    background-color: $bc1;
    font-family: PingFangSC-Regular;
    .header-title {
        overflow: hidden;
        font-size: 20px;
        float: left;
        a {
            color: #fff;
            &:focus {
                text-decoration: none;
            }
        }
        .back {
            img {
                height: 24px;
                margin: 0px 0 0 20px;
            }
        }
    }
    .nav-center {
        flex: 1;
        height: inherit;
        display: flex;
        justify-content: space-around;
        overflow: hidden;
        ul {
            height: inherit;
            li {
                width: 120px;
                height: inherit;
                float: left;
                a {
                    display: block;
                    height: inherit;
                    width: inherit;
                    font-size: 16px;
                    padding-top: 18px;
                    color: #fff;
                    &:focus {
                        text-decoration: none;
                    }
                    img {
                        height: 24px;
                        display: block;
                        margin: 0 auto;
                    }
                    span {
                        display: block;
                        text-align: center;
                        line-height: 30px;
                    }
                }
                &:hover {
                    background-color: $bc2;
                }
            }
            //active
            .active {
                background-color: $bc2 !important;
            }
        }
    }
    .nav-right {
        height: inherit;
        ul {
            height: inherit;
            line-height: 76px;
            li {
                height: inherit;
                line-height: inherit;
                a {
                    display: block;
                    height: inherit;
                    padding: 0 15px;
                    line-height: inherit;
                    font-size: 16px;
                    text-align: center;
                    color: #fff;
                    &:focus {
                        text-decoration: none;
                    }
                    img {
                        height: 24px;
                        vertical-align: middle;
                    }
                    &:hover {
                        background-color: $bc2;
                    }
                }
            }
            //active
            .active {
                background-color: $bc2 !important;
            }
            //常用功能
            .common {
                position: relative;
                .common-box {
                    display: none;
                    position: absolute;
                    top: 77px;
                    left: -150px;
                    width: 325px;
                    height: 300px;
                    border: 1px solid #efefef;
                    z-index: 999;
                    background: #fff;
                    color: #000;
                    ul {
                        li {
                            width: 33.3%;
                            height: 33.3%;
                            float: left;
                            a {
                                display: block;
                                height: 100%;
                                width: 100%;
                                font-size: 14px;
                                padding: 20px 0 0 0;
                                color: #000;
                                &:focus {
                                    text-decoration: none;
                                }
                                img {
                                    height: 28px;
                                    display: block;
                                    margin: 0 auto;
                                }
                                span {
                                    display: block;
                                    text-align: center;
                                    line-height: 40px;
                                }
                                &:hover {
                                    background: #CCCCCC;
                                }
                            }
                        }
                    }
                }
                .common-box:before {
                    content: " ";
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 50%;
                    top: -35px;
                    border-width: 0 15px 15px;
                    border-style: solid;
                    border-color: transparent transparent #fff;
                    margin: 20px auto;
                }
            }
            //消息提示 
            .message {
                position: relative;
                a span {
                    padding: 1px 5px;
                    border-radius: 5px;
                    background-color: #ff9900;
                    margin-left: 3px;
                    text-align: center;
                }
                .message-box {
                    display: none;
                    position: absolute;
                    border: 1px solid #efefef;
                    left: -205px;
                    width: 450px;
                    top: 77px;
                    z-index: 999;
                    background: #fff;
                    color: #000;
                    padding-top: 5px;
                }
                .message-box:before {
                    content: " ";
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 50%;
                    top: -35px;
                    border-width: 0 15px 15px;
                    border-style: solid;
                    border-color: transparent transparent #fff;
                    margin: 20px auto;
                }
                .message-box>i {
                    position: absolute;
                    top: -10px;
                    right: 120px;
                    width: 0px;
                    height: 0px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #fff;
                    z-index: 999;
                }
                .message-box>h4 {
                    height: 30px;
                    width: 100%;
                    text-align: center;
                    line-height: 30px;
                    padding-left: 60px;
                    .empty-all{
                            float: right;
                            padding-right: 15px;
                            font-size: 12px;
                            cursor: pointer;
                    }
                    .none{
                        color: #ccc;
                    }
                }
                .message-box>ul {
                    max-height: 750px;
                    overflow: auto;
                }
                .message-box>ul>li {
                    overflow: auto;
                    width: 100%;
                    padding-left: 15px;
                    padding-top: 5px;
                    margin-bottom: 5px;
                }
                .message-box>ul>li:hover {
                    background: #CCCCCC;
                }
                .message-box>ul>li>.col-xs-1 {
                    padding-left: 5px;
                }
                .message-box>ul>li>.col-xs-1>span {
                    width: 40px;
                    height: 34px;
                    display: block;
                    background: url(../img/xiaolaba.png) no-repeat;
                    background-size: 34px;
                }
                .message-box>ul>li>.col-xs-11>p {
                    line-height: 26px;
                    margin: 0;
                    font-family: PingFangSC-Regular;
                }
                .message-box>ul>li>.col-xs-11>p>span {
                    float: right;
                }
                .message-box>ul>li>.col-xs-11>p:first-child {
                    line-height: 32px;
                    font-size: 16px;
                }
            }
        }
    }
    .admin {
        margin-left: 40px;
        height: inherit;
        a {
            display: inline-block;
            height: inherit;
            color: #FFF;
            font-size: 14px;
            img {
                height: 34px;
            }
            &:focus {
                text-decoration: none;
            }
        }
        .out {
            color: $c3;
        }
        li>a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: 400;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
        }
        .dropdown-menu{
            top:70%;
            max-width: 140px;
        }
    }
}